# $Id: hackrf0.service,v 1.9 2018/12/11 09:46:27 karn Exp karn $
# Systemd service file for KA9Q's HackRF One daemon
# Note - this is a rather compute intensive program
# Phil Karn, KA9Q, Aug 2018

[Unit]
Description=HackRF 0 daemon
After=network-online.target
Requires=network-online.target
After=multi-user.target
Requires=multi-user.target

[Service]
Nice=-10
User=hackrf
Group=plugdev
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=hackrf0
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/hackrf -d -I 0 -R sdr.hackrf.mcast.local,eth0 -D iq.hackrf.mcast.local,eth0
PIDFile=/run/hackrf0/pid
Restart=always
RestartSec=1

[Install]
#WantedBy=multi-user.target
