# $Id: opus-hackrf.service,v 1.7 2019/01/01 09:37:28 karn Exp karn $
# Systemd startup module for PCM->Opus transcoder for HackRF audio
# Phil Karn, KA9Q Aug 2018

[Unit]
Description=HackRF opus transcoder
Requires=network-online.target

[Service]
Nice=-10
Type=simple
ExecStart=/usr/local/bin/opus --iface eth0 --pcm-in pcm.hackrf.mcast.local --opus-out opus.hackrf.mcast.local
DynamicUser=1
Restart=always
RestartSec=5

[Install]
#WantedBy=multi-user.target
